{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}
	<!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">



        {% include 'admin/layouts/breadcrumbs.html' %}
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Form-->
                <form id="create-or-update-vehicle-form" class="form d-flex flex-column flex-lg-row"  method="POST" enctype="multipart/form-data"  action="{% url 'offer_management:offer_management.create' %}">
                    {% csrf_token %}

                    <input type="hidden" name="offer_management_id" value="{{offer_management_obj.id}}" />
                    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                        <!--begin::Logo settings-->
                        <div class="card card-flush py-4">
                            
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>Image</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            
                            
                            <div class="fv-row card-body text-center pt-0 ">
                                <!--begin::Thumbnail input-->
                                <div id='offer-image-view' class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" {% if offer_management_obj.image is not None %} style="background-image: url({{ offer_management_obj.image.url }})" data-image-edit='true' {% else %} style="background-image: url({% static 'assets/media/svg/files/blank-image.svg' %})" data-image-edit='false' {% endif %}  >
                                    <!--begin::Preview existing user image-->
                                    <div class="image-input-wrapper w-150px h-150px"></div>
                                    <!--end::Preview existing user image-->
                                    
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Select image">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <!--begin::Inputs-->
                                        <input type="file" name="offer_image" accept=".png, .jpg, .jpeg"/>
                                        <input type="hidden" name="admin_image_remove" />
                                        <!--end::Inputs-->
                                    </label>
                                    
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel image">
                                        <i class="bi bi-x fs-2"></i>
                                    </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                                        <i class="bi bi-x fs-2"></i>
                                    </span>
                                    <!--end::Remove-->
                                </div>
                                <!--end::Thumbnail input-->
                                
                                <div class="text-muted fs-7">Choose image with dimension 670 x 350 pixels, in either *.png, *.jpg, or *.jpeg formats, and ensure that the image size is below 1 MB.</div>
                                
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Logo settings-->
                        <!--end::Status-->
              
                       
                    </div>
                    <!--end::Aside column-->
                    <!--begin::Main column-->
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">

                        <!--begin::Tab content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade show active" id="create-or-update-admin-general" role="tab-panel">
                                <div class="d-flex flex-column gap-7 gap-lg-10">


                                    <div class="card card-flush py-4">

                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>Offer Management Details</h2>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0 ">
                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Property Name</label>
                                                        <select id="roomSelect" class="form-select mb-2" name="property_name" data-control-select-option="property-name" data-control="select2"  data-hide-search="false" data-placeholder="Select an option">
                                                            <option ></option>
                                                            {% for property in  property_query_set %}
                                                                <option {% if offer_management_obj.room_property.property_management_id|stringformat:'s' == property.id|stringformat:'s' %} selected  {% endif %} value="{{property.id}}">{{property.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Room</label>
                                                        <select id="roomId" class="form-select mb-2" name="room_name" data-control-select-option="room-name" data-control="select2"  data-hide-search="false" data-placeholder="Select an option">
                                                            <option ></option>
                                                            {% for room in  property_room_query_set %}
                                                                <option {% if offer_management_obj.room_property.hotel_room.id|stringformat:'s' == room.hotel_room.id|stringformat:'s' %}
                                                                selected  {% endif %} value="{{room.id}}">{{room.hotel_room.room_type.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Title</label>
                                                        <input type="Text" name="title" value="{{offer_management_obj.title}}" class="form-control mb-2"  placeholder="Enter Title" maxlength="40" />
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Description</label>
                                                        <textarea id="description"  class="form-control" name="description" placeholder="Enter Description"  maxlength="1000" >{{offer_management_obj.description | safe}}</textarea>
                                                        <div class="error-message" style="color: red;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label for="" class="form-label required">Start Date</label>
                                                        <input class="form-control form-control" name="start_date" placeholder="Pick Start date" value="{{offer_management_obj.start_date |date:'Y-m-d' }}" id="start_datepicker"/>
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label for="" class="form-label required">End Date</label>
                                                        <input class="form-control form-control" name="end_date" placeholder="Pick End date" value="{{offer_management_obj.end_date |date:'Y-m-d' }}" id="end_datepicker"/>
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Offer In Percentage</label>
                                                        <input type="text" name="percentage" value="{{offer_management_obj.offer_percentage}}" class="form-control mb-2" placeholder="Enter Percentage" onpaste="return false;" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0;" maxlength="2" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                        </div>
                        <!--end::Tab content-->
                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-light me-5">Cancel</a>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="submit" id="create-or-update-offer-management-submit" class="btn btn-primary">
                                <span class="indicator-label">Save </span>
                            </button>
                            <button type="button" id="banner-loader-text" class="indicator-progress btn btn-primary">
                                <span class="">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Main column-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->

{% endblock content %}



{% block script %}

    <script>
        var api_config = {
            "csrfmiddlewaretoken" : "{{ csrf_token }}",
            "vehicle_id" : "{{property.id}}",

            "get_city" : "{% url 'offer_management:room_list.get' %}",
            "vehicle_data" : {
                "state_id" : "{{region.id}}",
                "city_id" : "{{brand.id}}"
            }
        }




        const startDatePicker = flatpickr("#start_datepicker", {
            minDate: "today", // Prevent selecting past dates
            dateFormat: "Y-m-d", // Date format
            onChange: function(selectedDates, selectedDate) {
                endDatePicker.set("minDate", selectedDate); // Set min date for end date picker based on selected start date
                if (selectedDate >= endDatePicker.selectedDates[0]) {
                    endDatePicker.clear(); // Clear end date if it's less than start date
                }
            }
        });
        
        // Initialize Flatpickr for end date
        const endDatePicker = flatpickr("#end_datepicker", {
            minDate: "today", // Prevent selecting past dates
            dateFormat: "Y-m-d", // Date format
        });


        document.getElementById('roomSelect').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];
        
        if (selectedOption.value) {
            console.log('Dropdown selected. Value:', selectedOption.value);
        } else {
            console.log('Dropdown not selected.');
        }
    });

    </script>


    <script src="{% static 'assets/js/custom/pages/home-page/offer_management/create-or-update-offer-management.js' %}?time={% now 'h:i:s' %}"></script>



{% endblock script %}