{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}
<div class="d-flex flex-column flex-column-fluid">


    
    {% include 'admin/layouts/breadcrumbs.html' %}
    
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-xxl">
            <!--begin::Products-->
            <div class="card card-flush">
                <!--begin::Card header-->
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text"  data-users-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search " />
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5" data-table-toolbar="base">
                        <!-- <div class="w-100 mw-150px">
                            <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Status" data-users-filter="status">
                                <option></option>
                                <option value="all">All</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div>  -->
                        
                        <!--begin::Add product-->
                        {% comment %} <a href="{% url 'review:customer_review.create' %}" class="btn btn-primary">Create</a> {% endcomment %}
                        <!--end::Add product-->
                    </div>
                    <div class="fv-row w-100 flex-md-root">
                        <div class="mb-5 fv-row">
                            <label for="" class="form-label required">Check in</label>
                            <input data-users-filter="startdate"  type="date" class="form-control form-control" name="start_date" placeholder="Pick Date" value="{{offer_management_obj.start_date |date:'Y-m-d' }}" id="start_datepicker"/>
                        </div>
                    </div>
                    <div class="fv-row w-100 flex-md-root">
                        <div class="mb-5 fv-row">
                            <label for="" class="form-label required">Check Out</label>
                            <input data-users-filter="enddate" type="date" class="form-control form-control" name="end_date" placeholder="Pick Date" value="{{offer_management_obj.end_date |date:'Y-m-d' }}" id="end_datepicker"/>
                        </div>
                    </div>
                    <div class="fv-row w-100 flex-md-root">
                        <div class="mt-3 fv-row">
                            <input type="button" class="btn" style="background-color: blue; color: white;" id="downloadButton" value="Download" onclick="downloadFile()">
                        </div>
                    </div>
                    

                    
                    {% comment %} <div class="d-flex justify-content-end align-items-center d-none" data-users-table-toolbar="selected">
                        <div class="fw-bolder me-5">
                        <span class="me-2" data-users-table-select="selected_count"></span>Selected</div>
                        <button type="button" class="btn btn-danger" data-users-table-select="delete_selected">Delete Selected</button>
                    </div> {% endcomment %}
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="company-profile-datatable">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="w-10px pe-2">
                                    <div class=" d-none  form-check-sm form-check-custom form-check-solid me-3">
                                        <input class=" form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#users-datatable .form-check-input" value="1" />
                                    </div>
                                </th>
                                <th class="min-w-155px">Serial No</th>    
                                <th class="min-w-155px">Property Name</th>    
                                <th class="min-w-155px">Room Number</th>
                                <th class="min-w-155px">Name</th>
                                <th class="min-w-155px">Email</th>
                                <th class="min-w-155px">Phone Number</th>
                                <th class="min-w-155px">Check in</th>
                                <th class="min-w-155px">Check Out</th>        
                                <th class="min-w-155px">Document</th>        
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-semibold text-gray-600">
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Products-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
    
</div>

{% endblock content %}


{% block script %}

    <script>
        var api_config= {
            'datatable'                 : "{% url 'customer_management:load.room_booked_customers.datatable' %}",
            'csrfmiddlewaretoken'       : '{{ csrf_token }}',
            'active_inactive_company'   : "{% url 'customer_management:active.or.inactive.customer_management' %}",
            'delete_records'            : "{% url 'review:customer_review.records.destroy' %}",
        };

        let today = new Date();
        let mm = String(today.getMonth() + 1).padStart(2, '0'); 
        let yyyy = today.getFullYear();

        $('#start_datepicker').flatpickr({
            onChange: function () {
                this.jumpToDate(`${yyyy}-${mm}`);
                let date = document.getElementById('start_datepicker').value;
                var array = new Array();
                array = date.split('-');
                datee = new Date(array[0], array[1]-1, array[2]);
                $('#end_datepicker').flatpickr({
                    onReady: function () {
                        this.jumpToDate(`${yyyy}-${mm}`);
                    },
                    minDate: datee,
                    maxDate: today,
                    altInput: true,
                    altFormat: "F j, Y",
                    dateFormat: "Y-m-d",
                });
            },
            maxDate: today,
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
        });
        
        $('#end_datepicker').flatpickr({
            onReady: function () {
                this.jumpToDate(`${yyyy}-${mm}`);
            },
            maxDate: today,
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
        });


        function downloadFile() {
            // Gather data
            var startDateElement = document.querySelector("[data-users-filter='startdate']");
            var endDateElement = document.querySelector("[data-users-filter='enddate']");

            var startDate = startDateElement ? startDateElement.value : '';
            var endDate = endDateElement ? endDateElement.value : '';

            // Extract CSRF token from hidden input field
            var csrfToken = api_config.csrfmiddlewaretoken;
        
            // Construct data object
            var data = {
                start_date: startDate,
                end_date: endDate
            };
        
            // Send data to backend
            fetch('/customer-management/room-booked-customer-management/customer/generate_room_booked_excel', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken  // Include CSRF token in headers
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                // Check if response is successful
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Return response as JSON
                return response.json();
            })
            .then(data => {
                // Check if the response contains the URL
                if (data.excel_file_url) {
                    // Create a temporary link to download the generated Excel file
                    var a = document.createElement('a');
                    a.href = data.excel_file_url;
                    a.download = 'bookedcustomersreport.xlsx';
                    document.body.appendChild(a); // Append anchor element to document body
                    a.click();  // Simulate click on anchor element
                    document.body.removeChild(a); // Remove anchor element from document body
                } else {
                    console.error('No Excel file URL found in the response');
                }
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        }
        
        


    </script>

    <script src="{% static 'assets/js/custom/pages/home-page/room-booked-customers/room-booked-customer-listing-datatable.js' %}?time={% now 'h:i:s' %}"></script>

{% endblock script %}



